openai
pycryptodome==3.15.0
#for working with pdf documents
langchain 
unstructured
chromadb
tiktoken

# for telegram bot
telegram
python-telegram-bot
python-telegram-bot[job-queue]
numexpr

# excel
gspread
openpyxl
oauth2client